@model ArticoloDetails

@{
	ViewData["Title"] = "Dettagli articolo";
}

<h1 class="text-center">@ViewData["Title"]</h1>


<div class="container-fluid">
<table class="table">
	<thead>
		<tr>
			<th style="display: none" id="thId">Id</th>
			<th>Nome</th>
			<th>Prezzo</th>
			<th>Descrizione</th>
			<th>Immagine</th>
			<th>Immagine extra 1</th>
			<th>Immagine extra 2</th>
			<th>Altro</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="align-middle" style="display: none" id="tdId">@Model.Id</td>
			<td class="align-middle">@Model.Nome</td>
			<td class="align-middle">€ @Model.Prezzo</td>
			<td class="align-middle">@Model.Descrizione</td>
			<td class="align-middle"><img style="width: 100px" src="@Model.Immagine" alt="Immagine articolo" /></td>
			<td class="align-middle"><img style="width: 100px" src="@Model.ImmagineAggiuntiva1" alt="Immagine extra 1" /></td>
			<td class="align-middle"><img style="width: 100px" src="@Model.ImmagineAggiuntiva2" alt="Immagine extra 2" /></td>
				<td class="align-middle">
				<div class="d-flex flex-column gap-2 align-items-center">
					<a class="homeBtn text-decoration-none text-white" style="width: fit-content" asp-area="" asp-controller="Articolo" asp-action="Edit" asp-route-id="@Model.Id">🖋️ Modifica</a>
					<a class="homeBtn text-decoration-none text-white" style="width: fit-content" asp-area="" asp-controller="Articolo" asp-action="Delete" asp-route-id="@Model.Id">🗑️ Elimina</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</div>

<div class="d-flex gap-1">
	<label for="toggleId">Toggle Id</label>
	<input type="checkbox" id="toggleId" onchange="handleToggleId()"/>
</div>

<script>
	const thId = document.getElementById("thId");
	const tdId = document.getElementById("tdId");
	let valueCheckBox = false;

	function handleToggleId() {
		valueCheckBox = document.getElementById("toggleId").checked;
		if (valueCheckBox) {
		thId.style.display = "table-cell";
		tdId.style.display = "table-cell";
	} else {
		thId.style.display = "none";
		tdId.style.display = "none";
	}
	}
</script>