@model ArticoloViewModel

@{
	ViewData["Title"] = "Vetrina articoli";
}

<p class="text-center"><a class="nav-link text-decoration-underline" asp-area="" asp-controller="Articolo" asp-action="Add">Clicca qui per fare un nuovo ordine</a></p>

<h1 class="text-center">@ViewData["Title"]</h1>

@{
	if (Model.Articoli.Count == 0)
	{
		<p class="text-center">Nessun articolo presente</p>
	}
}

<div class="container">
    <div class="row">
@foreach (var articolo in Model.Articoli) {
    <div class="col card" style="width: 18rem;">
        <img style="max-width: 400px" src="@articolo.Immagine" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@articolo.Nome</h5>
            <p class="card-text">€ @articolo.Prezzo</p>
            <p class="card-text">@articolo.Descrizione</p>
            <a class="btn btn-warning" asp-area="" asp-controller="Articolo" asp-action="Details" asp-route-id="@articolo.Id">Dettagli</a>
        </div>
    </div>
}
    </div>
</div>